<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт знакомств</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                    <li><a href="{{ url_for('search') }}">Поиск</a></li>
                    {% if session.get('is_admin') %}
                        <li><a href="{{ url_for('admin_panel') }}">Админ панель</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Выход</a></li>
                {% else %}
                    <li><a href="{{ url_for('index') }}">Главная</a></li>
                    <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                    <li><a href="{{ url_for('login') }}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <!-- Отображение флеш-сообщений -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>